*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear:both;
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    padding: 0.2%;
    height: 60px;
    background-color: #1F2326;
}

.container-banner{
    background-image: url('../images/xiaomi1.jpg');
    width: 100%;
    padding: 0.2%;
    height: 557px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-banner > center{
    height: 100%;
}

.form{
    padding: 30px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    background-color: white;
    border-width: 12px;
    border-color: rgb(120, 120, 120,0.5);
    border-style: solid;
    background-color: white;
    background-clip: padding-box;
}

.form h1{
    font-weight: normal;
    color: #999999;
    font-size: 21px;
}

.input-container{
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
}

.form p{
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
    margin: 20px 0;
}

.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #ccc;
}

.input-container input[type=text] :focus{
    outline: 0;
}

.form .input-submit-container{
    text-align: center;
}

.form input[type=submit]{
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #666666;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 5px solid rgb(172, 172, 172);
}

.form input[type=submit]:hover{
    background-color:red;
}

.container-list{
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color:white;
}

.container-2{
    padding: 70px 2%;
    background-color: #ff6700;
    text-align: center;
}

.container-2 p{
    width: 100%;
    max-width: 768px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}

.section-1 {
    padding: 100px 2%;
    background-color: #1F2326;
    text-align: center;
}

.container-email {
    padding: 100px 2%;
    background-color: #ff6700 ;
    text-align: center;
}
.email-input{
    text-align: center;
}

.email-button{
    margin-top: 20px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(58,53,53);
    border-color: rgb(58,53,53);
}

.email-button:hover{
    color: rgb(58,53,53);
    background-color: white;
}

.email-title{
    margin-top: 40px;
    text-align: center;
}